<% cart.each_with_index do |item, x| %>
<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= link_to item.title, movie_path(item) %></h4>
    <%= form_tag update_quantity_movie_path(item)do %>
      <%= label_tag 'Quantity :', nil, class: 'quantity' %>
      <%= text_field_tag :quantity_update, quantity[x], class: 'quantity' %>
      <%= submit_tag "Update", class: 'btn btn-primary' %>
    <% end %><br>
    <%= link_to 'Remove From Cart', remove_from_cart_movie_path(item),method: :post, class: 'card-link' %>
  </div>
  <!-- <div class="card-block">

  </div> -->
</div>
<% end %>
