<br>
<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= details.title %></h4>
  </div>
  <% if details.avatar.present? %>
    <!--If the movie has a picture associated with it-->
    <%= image_tag details.avatar.to_s.gsub("C%3A/Sites/Project/dvd_store/app/assets/images/", ""), class: 'card-img-top img-fluid d-block img-index img-thumbnail' %>
  <% end %>
  <div class="card-block">
    <%= details.category.name%>
  </div>
  <div class="card-block">
    <p class="card-text"><%= details.content%></p>
    <p class="card-text">$<%= details.price %></p>
  </div>
  <div class="card-block">
    <%= link_to 'Back to All Movies', index_path, class: 'card-link' %>
  </div>
</div>
