<% movies.each_with_index do |movie, x| %>
  <div class="card">
    <% if movie.avatar.present? %>
      <%= image_tag movie.avatar.to_s.gsub("C%3A/Sites/Project/dvd_store/app/assets/images/", ""), class: 'card-img-top img-fluid d-block img-index img-thumbnail' %>
    <% end %>
    <div class="card-block">
      <h5 class="card-title">
        <%= link_to movie.title, movie_path(movie) %>
        <% if movie.new %>
          <span class='sale'>
            <%= image_tag 'star.png', class: 'img-star' %>New
          </span>
        <% end %>
      </h5>
    </div>
    <div class="card-block">
      <p class="card-text">
        $<%= movie.price %>
        <% if movie.sale %>
          <strong class='sale'>Sale</strong>
        <% end %>
      </p>
      <% if @movies_in_cart.include?(movie) %>
        <%= link_to 'Remove From Cart', remove_from_cart_movie_path(movie),method: :post, class: 'card-outline-secondary' %>
      <% else %>
        <%= form_tag add_to_cart_movie_path(movie), class: 'form-inline' do %>
          <%= label_tag 'Quantity' %>
          <%= select_tag :quantity_selection, options_for_select(Array(1..10)) %><br>
          <%= submit_tag "Add to Cart", class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if (x+1) % 4 == 0%>
    </div>
    <div class="card-deck">
  <% end %>
<% end %>
