<br>
<div class="card">

  <% if moviedetails.picture.present? %>
    <%= image_tag moviedetails.picture, class: 'img-details' %>
  <% end %>
  <div class="card-block">
    <h4 class="card-title"><%= moviedetails.title %></h4>
    <p class="card-text"><%= moviedetails.content%></p>
  </div>

  <div class="card-block">
    <% if moviedetails.category.present?%>
      <%= moviedetails.category.name%>
    <% else %>
      Category Unset
    <% end %>
  </div>

  <div class="card-block">
    <%= link_to 'Back to All Movies', index_path, class: 'card-link' %>
  </div>

</div>
