<div class="card text-xs-right">
  <div class="card-block">
  <h4 class="card-title">Totals</h4>
    <% cart.each_with_index do |item, x| %>
      <p class="card-title">
        <%= item.title %>
        - <%= item.price %>
        x <%= quantity[x] %>
        = $ <%= total[x] %>
      </p>
    <% end %>
    <p class="card-text">Subtotal: $<%= subt %></p>
    <button class='btn btn-primary'>Check Out</button>
  </div>
</div>
