<% if @movies_in_cart.any?  %>
  <h3>Cart</h3>
  <%= link_to 'Remove All', remove_all_movies_path, method: :post %>
  <div class="card-group">
    <%= render partial: 'cart', collection: @movies_in_cart %>
  </div>
<% end %>

<h2>All Movies</h2>
<nav class="navbar navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <%= form_tag sort_movie_path(@categories) do %>
           <%= select_tag :sort_id, options_from_collection_for_select(@categories, :id, :name), class: 'index-nav-drop' %>
           <%= submit_tag "Sort", class: 'btn btn-outline-secondary' %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= button_to 'Show All', show_all_movies_path, method: :post, class: 'btn btn-outline-secondary' %>
      </li>
    </ul>
    <form class="form-inline float-lg-right">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>


<div class="card-deck-wrapper">
  <div class="card-deck">
    <%= render partial: 'movie', collection: @movies %>
  </div>
</div>
